/* GLOBAL CSS FILE */

/* :root { */
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */


/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100;1,14..32,100&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: normal;
  color: #fe5474;
}

/* HORIZONTAL SCROLL STYLING */
.carousel {
  height: 500vh;
}

.horizontalQuestionContainer {
  height: 100vh;
  width: 500vw;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  background-image: linear-gradient(#fdc16c, #fe8867, #fe5474);
}

.horizontalQuestionContainer h1{
  color: white;
}

.horizontalQuestions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

/* COMPONENT STYLING - SECTIONS 1 & 2 (INTRO & QUESTIONS) */
.question-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* COMPONENT STYLING - SECTION 3 (RESULTS) - NEEDS TO BE DIFFERENT BECAUSE OF SLIDER */
.results-container {
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#fe5474, #fe8867, #fdc16c);
}

.results-container h1 {
  color: white;
}

/* INSPIRATION SLIDER STYLING*/
.inspiration-slider {
  height: 50%;
  width: 70%
}

/* INSPIRATION CARD STYLING*/
.inspiration-card {
  height: auto;
  width: 100%;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  flex-wrap: wrap;
}

/* OPTION CARD STYLING*/
.option-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.option-card {
  flex: 1;
  min-width: 300px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

/* BACKGROUND STYLING*/

.question-container.intro-style {
  background-image: linear-gradient(white, white, #fdc16c);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* LOGO STYLING */

.logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.icon-white {
  width: 100%;
  max-width: 55px;
  height: auto;
}

/* DATE PICKER STYLING*/

.react-datepicker {
  font-family: "Merriweather", serif;
}

.react-datepicker__day:hover {
  background-color:#fdc16c !important;
  color: white;
}

.react-datepicker__day--selected {
  background-color: #fe5474 !important;
  color: white;

  &:hover {
    background-color: #fdc16c !important;
    color: white;
  }
}

.react-datepicker__day--in-range {
  background-color:#fe5474;
  color: white;

  &:hover {
    background-color: #fdc16c !important;
    color: white;
  }
}

.react-datepicker__day--in-selecting-range {
  background-color:#fe5474 !important;
  color: white;

  &:hover {
    background-color: #fdc16c !important;
    color: white;
  }
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit;
  color: inherit;

  &:hover {
    background-color: #fdc16c !important;
  }
}

.react-datepicker__navigation-icon--previous {
  border-right-color: #fe5474 !important;
}

.react-datepicker__input-container input {
  height: 50px;
  color:#fe5474;
  font-family: "Merriweather", serif;
  border: none;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}